@font-face {
    font-family: "Artega";
    src: url("assets/fonts/artega.otf");
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins.otf");
  }
  
  @font-face {
    font-family: "PoppinsSemiBold";
    src: url(assets/fonts/poppinsSemiBold.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Artega"; */
    scroll-behavior: smooth;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;
  }
  
  .logo {
    height: 40px;
    position: fixed;
    bottom: 4%;
    right: 4%;
  }
  
  .lightning {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90%;
    background-image: url("assets/flash.png");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
  }
  
  .blur {
    opacity: 0.99;
    width: 55%;
    height: 70%;
    border-radius: 20px;
    background: linear-gradient(90deg,
        rgba(164, 164, 164, 0.19) 0%,
        rgba(0, 0, 0, 0.697) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
  
  .loginBox {
    border-radius: 20px;
    background: url("assets/bgrect.png"),
      rgb(97, 97, 97) 0% 0% / 100px 100px repeat;
    opacity: 0.3;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .rules{
    color: #ffffff;
    opacity: 100%; 
    position: absolute;
    width: 50%;
    height: 60%;
    font-family: Poppins;
  }
  
  .heading{
    font-size: 20px;
    font-family: Artega;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 400;
  }
  
  .sub-heading{
    font-size: 12px;
    font-family: Artega;
    text-align: center;
  }

  li{
    padding: 2px;
  }

  .r{
    font-family: Poppins, sans-serif;
    font-size: 13px;
  }

  button {
    background-color: #f3c747;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    position: absolute;
    left: 200px;
  }