@font-face {
  font-family: "Artega";
  src: url("assets/fonts/artega.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Artega";
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  background-color: #fffff6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15%;
  width: 100%;
  z-index: 2;
}

.sellerHero {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
  overflow-x: hidden;
  cursor: url('assets/qr.png'), auto;

}

.gridContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 15% 25% 25% 25% 10% / 15% 70% 15%;
  gap: 0;
}

.leftDiamond {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding-top: 50px;
  margin-left: -50%;
  margin-right: 50%;
}

.leftDiamond img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.rightDiamond {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  margin-left: 50%;
  margin-right: -50%;
  padding-bottom: 50px;
}

.rightDiamond img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.social {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: #f2c747;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.social>p {
  width: auto;
  height: auto;
  font-size: 23vmin;
  margin-top: 10vmin;
}

.selling {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  color: #f2c747;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selling>p {
  width: auto;
  height: auto;
  font-size: 23vmin;
  margin-top: 10vmin;
}

.simple {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  color: #f2c747;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
  padding-bottom: 50px;
}

.simple>p {
  margin-left: 2vmin;
  width: auto;
  height: auto;
  font-size: 23vmin;
  margin-top: 10vmin;
}

.madeContent {
  width: 2.3vmin;
  color: #f2c747;
}

.madeContent>p {
  width: 1px;
  height: auto;
  font-size: 1vmin;
  line-height: 5.5;
}

.downArrow {
  grid-column: 1 / span 4;
  grid-row: 5 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrow img {
  height: 10%;
  width: auto;
  object-fit: contain;
}

.phones {
  grid-column: 1 / span 4;
  grid-row: 2 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15%;
}

.phones img {
  height: 75vmin;
  width: auto;
  z-index: 1;
  object-fit: fill;
}

.onboard {
  position: relative;
  background-color: #f2c747;
  height: 85%;
  width: 100%;
}

.heading {
  text-align: center;
  font-size: 5vmin;
  color: var(--secondary-color);
  padding: 5rem 1rem 1rem 1rem;
  font-weight: 500;
}

.sub-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 2vmin;
  color: var(--secondary-color);
  font-weight: 400;
}

.star1 {
  position: absolute;
  top: 6%;
  right: 4%;
}

.star3 {
  position: absolute;
  bottom: 5%;
  left: 4%;
}

.star2 {
  position: absolute;
  top: 21%;
  right: 2%;
}

.star4 {
  position: absolute;
  bottom: 20%;
  left: 2%;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem;
  gap: 5rem;
  width: 100%;
  height: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.step-1,
.step-2,
.step-3 {
  width: 33%;
}

.frame img {
  width: 100%;
  object-fit: cover;
}

.frame p {
  text-align: center;
  color: var(--secondary-color);
  padding-top: 1.5rem;
}

#description {
  font-family: sans-serif;
}

.whyTitle {
  position: relative;
  background-color: #1f1f1f;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyTitle>p {
  margin-top: 4vmin;
  color: #f2c747;
  width: auto;
  height: auto;
  font-size: 4vmin;
}

.small {
  position: absolute;
  left: 5%;
}

.large {
  position: absolute;
  width: 8%;
  right: 3%;
}

.whyOuter {
  position: relative;
  background-color: #1f1f1f;
  width: 100%;
  height: 85%;
  z-index: 0;
}

.why {
  position: relative;
  background-color: #1f1f1f;
  width: 110vmin;
  height: 100%;
  display: grid;
  grid-template: 30% 50% 20% / 33% 34% 33%;
  gap: 0;
  margin: auto;
}

.leftStars {
  position: relative;
  height: 5%;
  width: 100%;
  background-color: #1f1f1f;
  overflow: visible;
  z-index: 1;
  display: flex;
}

.leftStarPositioner {
  width: fit-content;
  height: fit-content;
  z-index: 1;
  overflow: visible;
  z-index: 1;
}

.leftStarPositioner img {
  height: 25vmin;
  width: auto;
  margin-top: -13vmin;
  margin-left: -50%;
  overflow: visible;
  object-fit: contain;
  z-index: 1;
}

.smallStarPositioner {
  width: fit-content;
  height: fit-content;
  z-index: 1;
  overflow: visible;
  z-index: 1;
}

.smallStarPositioner img {
  height: 5vmin;
  width: auto;
  margin-top: -3.1vmin;
  margin-left: -3vmin;
  overflow: visible;
  object-fit: contain;
  z-index: 1;
}

.rightStars {
  position: relative;
  height: 5%;
  width: 100%;
  background-color: #1f1f1f;
  overflow: visible;
  z-index: 1;
  display: flex;
  /* align-items: flex-end;
  flex-direction: column; */
  justify-content: flex-end;
}

.rightStarPositioner {
  width: fit-content;
  height: fit-content;
  z-index: 1;
  overflow: visible;
  z-index: 1;
}

.rightStarPositioner img {
  height: 25vmin;
  width: auto;
  margin-top: -13vmin;
  margin-left: 50%;
  overflow: visible;
  object-fit: contain;
  z-index: 1;
}

.smallStarPositioner2 {
  width: fit-content;
  height: fit-content;
  z-index: 1;
  overflow: visible;
  z-index: 1;
}

.smallStarPositioner2 img {
  height: 5vmin;
  width: auto;
  margin-top: -3.1vmin;
  margin-left: 3vmin;
  margin-right: -3vmin;
  overflow: visible;
  object-fit: contain;
  z-index: 1;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  width: 100%;
  height: auto;
}

.image img {
  width: 110vmin;
  height: auto;
}

.text {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  width: 60vmin;
  margin-left: 10%;
  margin-top: 27vmin;
}

.head {
  color: #f2c747;
  font-size: 3vmin;
  line-height: 2vmin;
  width: auto;
}

.content {
  color: #ffffff;
  font-size: 2vmin;
  font-family: sans-serif;
  line-height: 4vmin;
}

.text2 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  width: 60vmin;
  margin-left: 15%;
  margin-top: 30vmin;
}

.head2 {
  color: #f2c747;
  font-size: 3vmin;
  line-height: 2vmin;
  width: auto;
}

.content2 {
  color: #ffffff;
  font-size: 2vmin;
  font-family: sans-serif;
  line-height: 4vmin;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  background-color: #1f1f1f;
}

.cap {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  font-family: sans-serif;
}

.email {
  font-family: sans-serif;
  size: 30px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  padding-left: 20px;
  background-color: #7c7c7c;
  color: #ffffff;
  border-radius: 30px;
  height: 51px;
  width: 358px;
  border: none;
}

button {
  background-color: #f2c747;
  font-family: sans-serif;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  height: 51px;
  width: 142px;
  align-items: center;
  text-align: center;
  border: none;
}

.signup {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 10px;
}

.logo {
  height: 2%;
  width: auto;
  object-fit: contain;
}

.soc-med {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 2rem 0 0 1rem;
}

.soc-med img {
  border-radius: 9999px;
  border-width: 2px;
  border-color: #ffffff;
}

.contact {
  padding-top: 130px;
  padding-bottom: 50px;
}

.contact p {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

.cta {
  position: relative;
  height: 25vmin;
  background-color: #f2c747;
  z-index: -2;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
  text-align: center;
}

.circle {
  position: absolute;
  top: -3.5vmin;
  height: 32vmin;
  width: 38vmin;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
}

.left1 {
  left: -36vmin;
  opacity: 1;
}

.left2 {
  left: -30vmin;
  opacity: 0.7;
}

.left3 {
  left: -24vmin;
  opacity: 0.5;
}

.left4 {
  left: -18vmin;
  opacity: 0.25;
}

.left5 {
  left: -12vmin;
  opacity: 0.15;
}

.right1 {
  right: -36vmin;
  opacity: 1;
}

.right2 {
  right: -30vmin;
  opacity: 0.7;
}

.right3 {
  right: -24vmin;
  opacity: 0.5;
}

.right4 {
  right: -18vmin;
  opacity: 0.25;
}

.right5 {
  right: -12vmin;
  opacity: 0.15;
}

.visit {
  margin-top: 10px;
  background-color: black;
  color: #ffffff;
  font-family: sans-serif;
  font-size: small;
  width: 13vmin;
  height: 5vmin;
  font-size: 1.3vmin;
}

.whyStar1 {
  position: absolute;
  top: 4vmin;
  /* right: 8.3vmin; */
  right: 5.8%;
}

.whyStar2 {
  position: absolute;
  top: 30vmin;
  /* right: 8.3vmin; */
  right: 5%;
}

.whyStar2 img {
  width: 50%;
  height: auto;
}

.onboardText {
  font-size: 3vmin;
}

.container {
  background-color: #1f1f1f;
}

.container .title {
  color: #f2c747;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 4rem;
}

.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 1.5rem;
  
}

.ques {
  background-color: #313131;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 25px;
}

.q {
  font-size: 20px;
  font-family: sans-serif;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: 650ms;
}


.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  font-family: sans-serif;
  color: #ffffff;
  padding: 2rem;
}

.ques:target .answer {
  max-height: 20rem;
}

.q img, .q p {
  max-height: 20px;
  max-width: 20px;
}

.q .crossWhite {
  display: none;
}

.ques:target .q .downArrowWhite {
  display: none;
}

.ques:target .q .crossWhite {
  display: block;
}