@font-face {
    font-family: 'Artega';
    src: url('assets/fonts/artega.otf');
}

:root {
    --primary-color: #F2C747;
    --secondary-color: #FFFFFF;
    --accent-color: #302e2e;
    --background-color: #1F1F1F;
}

* {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Artega';
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    z-index: 2;
}

/* */
.hero {
    padding-top: 200px;
    display: flex;
    position: relative;
}

.main-slogan {
    color: var(--primary-color);
    font-size: 5rem;
    line-height: 1;
}

.intro {
    color: var(--secondary-color);
    font-size: 1rem;
}

.intro-text {
    width: 80%;
    margin-top: 20px;

}



.hero>* {
    margin-inline-start: 2%;
}

.intro-img {
    max-height: 600px;
    margin-top: 0px;
    margin-inline-start: 0%;
}

.downArrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* For smaller screens */
@media (max-width: 650px) {
    .main-slogan {
        font-size: 4rem;
    }

    .intro {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {

    /* Hide holding image*/
    .intro-img {
        height: 0;
    }

    .hero-video{
        visibility: hidden;
    }
    .downArrow {
        visibility: hidden;
    }
}


.heading {
    text-align: center;
    font-size: 48px;
    color: var(--secondary-color);
    padding: 5rem 1rem 1rem 1rem;
    font-weight: 500;
}

.sub-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 400;
}

.frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem;
    gap: 97px;
}

.intro-img-wrapper{
    position: relative;
}



.hero-video{
    position:absolute;
    left: 54px;
    top: 10px;  
    border-radius:20px;
}




.step-1,
.step-2,
.step-3 {
    width: 33%;
}

.frame img {
    width: 100%;
    object-fit: cover;
}

.frame p {
    text-align: center;
    color: var(--secondary-color);
    padding-top: 1.5rem;
}

#description {
    font-family: sans-serif;
}

.steps {
    position: relative;
}

.star1 {
    position: absolute;
    top: 50px;
    right: 50px;
}

.star2 {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.star3 {
    position: absolute;
    top: 175px;
    right: 30px;
}

.star4 {
    position: absolute;
    bottom: 170px;
    left: 30px;
}


.blank {
    height: 160px;
}

.curated-content {
    border-radius: 25px;
}

/* Styles for seamless section of the webpage */
.seamless{
    position:relative;

}

.star-1{
    position: absolute;
    top: 40vh;
    right: 4.5vw;
}

.star-2{
    position: absolute;
    bottom: 72vh;
    margin-left:13%;
}

.star-3{
    position:absolute;
    overflow-x: hidden;
    margin-left: -84px;
    bottom: 60vh;
}

.star-4{
    position: absolute;
    bottom: 40vh;
    right: 4.5vw;
}

.seamless-header {
    display: flex;
    font-size: 3rem;
    margin-inline: 2%;
}

.seamless-header > * {
    flex: 1 1 auto;
    display: grid;
    align-content: center;
}

.seamless-star-large.header-star{
    justify-content: right;
}

.header-star{
    flex-basis: 20%;
}



.seamless-heading {
    color: var(--primary-color);
}

.seamless-intro {
    font-size: 0.75rem;
    color: var(--secondary-color);
    text-align: center;
}

/* Styles for seamless grid */
.seamless-grid * {
    background-color: var(--accent-color);
}

.seamless-grid {
    margin-inline: 20%;
    margin-top: 50px;
    display: grid;
    color: white;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
}

.seamless-grid>* {
    box-shadow: 14px 4px rgba(0, 0, 0, 0.73);
    border-radius: 25px;
}


/* Styling individual grid cells */

/* First Grid Cell */
.curated-finds {
    grid-column: span 2;
}

.img-wrapper>img {
    max-width: 80%;
    aspect-ratio: 1 / 1.16;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.curated-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
}

.curated-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10%;
}

.seamless-info-text,
.assured-info-text {
    font-size: 0.75rem;
}

.seamless-info-text {
    margin-right: 45%;
}

.img-wrapper {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Second grid cell */

.seamless-cell {
    grid-row: span 2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.seamless-cell>* {
    margin-inline: 10%;
}

.assured-img>img {
    max-width: 100%;
    aspect-ratio: 1.56 / 1;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.seamless-cell-text {
    font-size: 0.75rem;
    margin-bottom: 5%;
}

/* Third Grid Cell */

.buy-in {
    grid-row: span 3;
}

.buy-in-img > img {
    max-width: 100%;
    aspect-ratio: 0.82 / 1;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.buy-in-img {
    display: flex;
    justify-content: center;
}

/* Fourth Grid CelL */

.delivery-img>img {
    max-width: 100%;
    aspect-ratio: 2.46 / 1;
    object-fit: cover;
    margin-top: 20%;
    margin-bottom: 5%;
}

.delivery-text {
    margin-right: 40%;
}

.delivery-header {
    margin-right: 30%;
}

/*Final Grid Cell */

.visit-app {
    grid-row: span 1;
}

.visit-app-header {
    margin: 5% 20%;
}

.web-app-btn {
    background-color: var(--primary-color);
    width: 30%;
    margin-left: 20%;
    border-radius: 50px;
    padding: 16px 5px;
    margin-bottom: 10%;
}

.cta {
    background-color: #f2c747;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.visit {
    margin-top: 10px;
    background-color: black;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: small;
}

.cta h1 {
    background-color: transparent;

}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.cap {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 600;
    font-family: sans-serif;

}

.email {

    font-family: sans-serif;
    size: 30px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-left: 20px;
    background-color: #7c7c7c;
    color: var(--secondary-color);
    border-radius: 30px;
    height: 51px;
    width: 358px;
    border: none;
}

button {
    background-color: var(--primary-color);
    font-family: sans-serif;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    height: 51px;
    width: 142px;
    align-items: center;
    text-align: center;
    border: none;
}

.signup {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 10px;
}

.logo {
    height: 2%;
    width: auto;
    object-fit: contain;
}

.soc-med {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2rem 0 0 1rem;
}

.soc-med img {
    border-radius: 9999px;
    border-width: 2px;
    border-color: var(--secondary-color);
}

.contact {
    padding-top: 130px;
    padding-bottom: 50px;
}

.contact p {
    font-family: sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}


.seamless-footer{
    display: flex;
    
}

.seamless-footer > *{
    flex: 1 1 auto;
}

.seamless-right-footer{
    display:flex;
    justify-content: right;
}

.offscreen-right-star{
    overflow-x: hidden;
    margin-right: -84px;
    transform: scaleX(1.2);
}

.RightStarPositioner{
    margin-right: 10%;
    align-self: center;
}

.seamless-left-footer{
    align-self: flex-end;
    margin-bottom: 2%;
    margin-left: 10%;
}