@font-face {
    font-family: 'Artega';
    src: url('assets/fonts/artega.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Artega';
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

p {
    color: black;
    font-size: Artega;
}